<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>801380431639-5ds6c1qnd0sigv7a6n34u8srn54gk28a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801380431639-5ds6c1qnd0sigv7a6n34u8srn54gk28a</string>
	<key>API_KEY</key>
	<string>AIzaSyADsWFRhujMSqjqfGnINiJuteTQ_Tc_G_M</string>
	<key>GCM_SENDER_ID</key>
	<string>801380431639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wakefieldadrian.SocialNetwork</string>
	<key>PROJECT_ID</key>
	<string>feedproject-2caa2</string>
	<key>STORAGE_BUCKET</key>
	<string>feedproject-2caa2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:801380431639:ios:8cfd445e66a0ad7e</string>
	<key>DATABASE_URL</key>
	<string>https://feedproject-2caa2.firebaseio.com</string>
</dict>
</plist>
